#root {
    -fx-background-color: #004e89;
}

.button {
    -fx-background-color: transparent;
    -fx-border-width: 2;
    -fx-border-color: #ffffff;
    -fx-border-radius: 5;
}

.scroll-pane .viewport {
    -fx-background-color: #004e89;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.button:hover {
    -fx-border-color: #0081de;
    -fx-text-fill: #0081de;
}
