.button {
    -fx-background-color: transparent;
    -fx-border-width: 2;
    -fx-border-color: #ffffff;
    -fx-border-radius: 5;
    -fx-cursor: hand;
    -fx-text-fill: #ffffff;
}

.button:hover {
    -fx-border-color: #0081de;
    -fx-text-fill: #0081de;
}

.button:pressed {
    -fx-border-color: #000000;
    -fx-text-fill: #000000;
}

#root {
    -fx-background-color: #004bbf;
}