#menu {
	-fx-background-color: #004bbf;
}

.button {
	-fx-cursor: hand;
	-fx-background-color: transparent;
	-fx-background-radius: 0;
}

#option:hover {
	-fx-background-color: #0084ff;
	-fx-border-width: 0 0 0 5;
	-fx-border-color: #4dd2ff;
}

#option:pressed {
	-fx-background-color: #005cb3;
	-fx-border-width: 0 0 0 5;
	-fx-border-color: #4dd2ff;
}

#exitBtn:hover {
	-fx-background-color: #d14747;
	-fx-border-width: 0 0 0 5;
	-fx-border-color: #ff3333;
}

#exitBtn:pressed {
	-fx-background-color: #8a2828;
	-fx-border-width: 0 0 0 5;
	-fx-border-color: #ff3333;
}

#reportsLabel {
	-fx-border-color: #ffffff;
	-fx-border-width: 0 0 2 0;
}